body{
    background-color: rgb(49, 47, 47);
}
h2{
    color: white;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 40px;
    padding: 20px;
    background-color: black;
    border:11px solid #07dfeb;
    border-radius: 10px;
}
.grid-item {
    background-color: black;
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
    border: 1px solid #07dfeb;
    border-radius: 10px;
    color: white;
    /* background-image; */
}
