* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #333;
    color: #f4f7f9;
}


.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e1e2f;
    color: rgb(5, 243, 239);
    padding: 20px 40px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav-links a {
    color: rgb(5, 243, 239);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: white;
}

.btn {
    background-color: black;
    color: rgb(5, 243, 239);
    padding: 8px 16px;
    border: 2px solid rgb(5, 243, 239);
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn:hover {
  background-color: black;
  color: white;
  border: 2px solid rgb(5, 243, 239);
  transform: scale(1.1);
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 40px 20px;
    background: linear-gradient(135deg, #1a016c, #6b00ff);
    transition: transform 0.3s ease
  }
  
  .hero-content {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .text-content {
    flex: 1;
    min-width: 280px;
  }
  
  .text-content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .text-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    max-width: 600px;
    line-height: 1.6;
  }
  
  .btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 1rem;
    color: rgb(5, 243, 239);
    border: 2px solid white;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s, transform 0.3s;
  }
  
  .btn:hover {
    background-color: white;
    color: rgb(5, 243, 239);
    transform: scale(1.05);
  }
  
  .image-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 280px;
  }
  
  .profile-image {
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    border: 10px solid rgb(5, 243, 239);
  }